.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
.div1 {
    margin: 100px 100px;
}
.three-c-iframe{
    display:flex;
    width: 60vw;
    height: 100vh;
}